<style>
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
</style>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">



* {
  margin: 0x;
  padding: 5px;
  box-sizing: border-box;
}

body {
  font-family: "Questrial", sans-serif;
  background: #7dade0;
  font-size: 1, 3em;
}

img {
  width: 400px;
  margin: 10px;
  padding: 40px;
  box-sizing: border-box;
}

h1 {
  margin: 20px;
  padding: 20px;
  text-align: center;
}

h3 {
  font-weight: bold;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em;
}
.container {
  max-width: 1100px;
  margin: auto;
}
.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
  background-color: #171f203f;
}

.card div {
  padding: 2em;
}

.card:nth-child(even) img {
  order: 2;
}

.btn {
  background-color: #7dade0; 
  color: #101216;
  padding: 10px 15px;
  display: inline-block;
  border-radius: 10px;
  margin-top: 2em;
  cursor: pointer;
  transition: background-color 1s ease;
}

a {
  text-decoration: none;
}

.btn:hover {
  background-color: black;
  color: #ffffff;
  box-shadow: 1px 1px 2px #000000;
}

.galeria {
  margin: 2em;
  display: flex;
  height: 20em;
  gap: 0.5em;
}

.galeria div {
  flex: 1;
  background-size: cover;
  background-position: top center;
}

.galeria div:hover {
  flex: 3;
  transition: all 50ms cubic-bezier(0.97, 0.08, 0.97, 0.34);
  box-shadow: 15px 15px 15px;
}

.galeria:hover div:not(:hover) {
  filter: grayscale(100%) opacity(0.4);
}
